.search-container {
    /* background-color: indigo; */
    width: 70%;
}
.dropdown-scrollbar {
    position: absolute;
    height: auto;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    z-index: 2;
}
.hidden {
   height:fit-content;
}
.city-dropdown {
   margin: 3% 0%;
   padding: 2%;
}
.not-found {
    position: absolute;
    color: hsl(0, 98%, 47%);
    font-weight: 900;
    z-index: 2;
}