* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.app-background {
min-width: 100vw;
min-height: 100vh;
background-color: hsl(0, 0%, 10%);
}
.dashboard {
  background-color: azure;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("./SeattleCity.jpeg");
  background-repeat: no-repeat;
}


@media only screen and (min-width: 767px) {
  .app-background {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .dashboard {
    width: 50%;
    min-height: 90vh;
    border-radius: 1rem;
    border-radius: 1rem ;
  }
}