* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.app-background {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fcba64;
}

.dashboard {
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}


.upper-panel {
  font-size: 1.2rem;
  height: 35vh;
  padding: 2%; 
  width: 100%;
  
  background-repeat: no-repeat; 
  position: absolute;
  z-index: 1;
}
.upper-right-section {
  height: fit-content;
  width: fit-content;
  padding: 3%;
  border-radius: 1rem;
  float: right;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  color: hsl(0, 0%, 100%);
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  font-weight: 500;
}
#curr-city {
  text-transform: uppercase;
  color:hsl(4, 96%, 69%);
  font-weight: 900;
}

.temp-type-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;
}

.temp-type {
  padding: 0 .6rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.temp-type-on {
  color: hsl(4, 96%, 69%);
}

.forecast-container {
  height: 68vh;
  background-color: hsl(0, 0%, 7%);
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 32vh;
  padding: 0%;
  padding-top: 5%;
  margin: 0%;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}


@media only screen and (min-width: 767px) {
  .app-background {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
  }
  .dashboard {
    width: 50%;
    border-radius: 1rem;
  }
  .upper-panel {
    position: initial;
    border-radius: 1rem;}

  .forecast-container {
    position: initial;
    background-color: hsl(0, 0%, 9%);
    margin-top: -8%;
    width: 100%;
    border-radius: 1rem;
  }
}